h1{font-family: "Helvetica Neue"; color: #994d00; font-size:60px;text-align: center;}
h2{text-transform: uppercase; text-align: center; }
.topnav {background-color: #333;overflow: hidden;}
.topnav a {float: left;display: block;color: #f2f2f2;text-align: center; padding: 14px 16px;font-size: 17px; border-bottom: 3px solid transparent;}
h3{border-bottom: double #333; font-family: "Helvetica Neue"; font-size: 30px;text-indent: 50px; letter-spacing: 3px; }
p{ font-size: 18px;text-indent: 50px; text-align: justify; letter-spacing: 3px;}
#Home2 img{float:right; margin-left: 50px; border: 1px solid #ddd; border-radius: 4px;padding: 5px; }
#Home3 img{float:left; margin-bottom: 40px;margin-right: 30px; margin-top: 20px; border: 1px solid #ddd; border-radius: 4px;padding: 5px;}
.img-home img{ display: inline-block;border: 1px solid #ddd; border-radius: 4px;padding: 5px;}
figure{display: inline-block; border: ridge; margin-left: 100px; }
figcaption{background-color: #333; color: white; font-family: "Helvetica Neue";text-align: center;letter-spacing: 3px; margin: 2px;}
a{text-decoration: none;}
.img-container img{border: 1px solid #ddd; border-radius: 4px; padding: 5px;}
ul{list-style-type: circle;}
li{letter-spacing: 3px;}
.img-servizi img{padding: 5px 80px 30px 80px;border: 1px solid #ddd; border-radius: 4px;}
.img-contatti img{display:inline;border: 1px solid #ddd; border-radius: 4px; padding: 5px 0px 0px 20px;}
.contatti input[type="text"],textarea {
border: 1px solid #ddd;
box-shadow: none;
border-radius: 4px;
}	
.contatti input[type="submit"] {
 background-color: #b19555;
border: none;border-radius: 4px;
color: #ffffff;
cursor: pointer;
font-size: 11px;
padding: 4px 8px;
text-align: center;
 text-transform: uppercase;
}
fieldset{border: none;letter-spacing: 3px; font-weight: bold;}
footer{background-color: #333;padding: 40px;}#copyright{color: white;}
